# --- Работа с Telegram API (MTProto) ---
telethon
python-dotenv

# --- Интерфейс и Визуализация ---
streamlit
plotly

# --- Обработка данных ---
pandas
numpy

# --- Искусственный интеллект и NLP (Нейросети) ---
torch
torchvision
transformers
sentencepiece
protobuf
nltk
scikit-learn
pymorphy3

# --- Генерация отчетов ---
fpdf2