# Работа с Telegram API (MTProto)
telethon

# Интерфейс и веб-сервер
streamlit
streamlit-autorefresh

# Анализ данных и математика
pandas
numpy
scikit-learn
plotly

# Машинное обучение и Нейросеть (NLP)
torch
torchvision
transformers
sentencepiece
protobuf
nltk
pymorphy3

# Генерация отчетов (PDF)
fpdf2

# Системные утилиты
python-dotenv
apscheduler